.root {
     -fx-background-image: url("../images/iKogsKW.png");
     -fx-background-size: 600 800;
}

.label {
	-fx-font-family: 'Comic Sans MS';
	-fx-font-size: 20px;
	-fx-text-fill: #FF8800;
	-fx-font-weight: bold;
}

.button{
	-fx-background-color: orange;
	-fx-background-radius:50%;
	-fx-font-size:17px;
	-fx-text-fill:black;
	-fx-font-weight:bold;
}

.button:hover{
	-fx-font-size:22px;
}

.button:pressed{
	-fx-font-size:19px;
}