.root {
	-fx-background-image: url("../images/homeBackground.jpg");
	-fx-background-repeat: no-repeat;
	-fx-background-attachment: fixed;
	-fx-background-position: center;
	-fx-background-size: 600 800;
}

.top {
	-fx-background-image: url("../images/homeTop.png");
	-fx-background-repeat: no-repeat;
	-fx-background-attachment: fixed;
	-fx-background-position: bottom;
	-fx-background-size: 100%;
}

.center {
  -fx-alignment: center;
  -fx-background-color: rgba(79, 196, 124, 0.2);
  -fx-background-radius: 50px;
  -fx-border-radius: 50px;
  -fx-border-width: 5px;
  -fx-border-color: rgba(2, 44, 20, 0.2);
}

.label{
	-fx-background-color: rgba(255, 255, 255, 0);
	-fx-alignment: center;
	-fx-font-size: 25px;
	-fx-text-fill: black;
	-fx-font-weight: bold;
	-fx-padding: 30px;
	-fx-font-family:'Comic Sans MS';
}

#nickName{
	-fx-background-color: 'transparent';
	-fx-alignment: center;
	-fx-font-size: 25px;
	-fx-text-fill: grey;
	-fx-font-weight: bold;
	-fx-font-family: 'Comic Sans MS';
}

.combo-box-base{
	-fx-background-color: 'transparent';
	-fx-alignment:center;
	-fx-font-size: 20px;
	-fx-text-fill: grey;
	-fx-font-weight: bold;
	-fx-font-family: 'Comic Sans MS';
	-fx-border-width: 4px;
	-fx-border-radius: 10%;
	-fx-border-color: #585858;
}

.combo-box-popup .list-view {
	-fx-pref-height: 200;
	-fx-background-radius: 10px;
  	-fx-border-width: 4px;
  	-fx-border-color: #585858;
}

.combo-box-popup .list-view .list-cell {
  -fx-background-color: rgba(0, 0, 0, 0.1);
  -fx-background-radius: 10px;
  -fx-border-width: 4px;
  -fx-border-color: #585858;
}

.button{
	-fx-background-color: 'transparent';
	-fx-alignment:center;
	-fx-font-size:25px;
	-fx-text-fill:black;
	-fx-font-weight:bold;
	-fx-font-family: 'Comic Sans MS';
}

.button:hover{
	-fx-font-size:30px;
}

.button:pressed{
	-fx-font-size:27px;
}